---
const items = [
  {
    img: "/img/escudo2.png",
    title: "Avoid alcoholic beverages",
    description:
      "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident magnam atque dolorum voluptatibus ea accusantium officia, expedita aspernatur voluptates pariatur sit iusto eum! Expedita dolores dolorem temporibus ab repudiandae doloremque?",
  },
  {
    img: "/img/cerrar.png",
    title: "Avoid stress",
    description:
      "Stress has a profound effect on immune work. Moreover, prolonged stress can increase cortisol production and oxidative stress in the body.",
  },
  {
    img: "/img/barras.png",
    title: "Eat healthy food",
    description:
      "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident magnam atque dolorum voluptatibus ea accusantium officia, expedita aspernatur voluptates pariatur sit iusto eum! Expedita dolores dolorem temporibus ab repudiandae doloremque?",
  },
  {
    img: "/img/aceptar.png",
    title: "Get enough sleep",
    description:
      "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident magnam atque dolorum voluptatibus ea accusantium officia, expedita aspernatur voluptates pariatur sit iusto eum! Expedita dolores dolorem temporibus ab repudiandae doloremque?",
  },
  {
    img: "/img/corazon.png",
    title: "Exercise or physical activity",
    description:
      "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident magnam atque dolorum voluptatibus ea accusantium officia, expedita aspernatur voluptates pariatur sit iusto eum! Expedita dolores dolorem temporibus ab repudiandae doloremque?",
  },
];
---

<section class="w-full">
  <div class="flex flex-col md:flex-row w-full">
    <!-- Imagen -->
    <div class="flex-1 p-6 md:p-12">
      <img
        src="/img/img1.jpg"
        alt="Enfermera"
        class="w-11/12 h-[600px] object-cover rounded-md mx-auto md:mx-0"
      />
    </div>

    <!-- Texto y detalles -->
    <div class="flex-1 p-6 md:p-12">
      <h2
        class="text-[#112778] font-extrabold text-2xl md:text-3xl leading-snug tracking-wide mb-4"
      >
        Preparation Before Vaccine
      </h2>
      <p class="text-gray-700 font-semibold leading-relaxed mb-12">
        The success of vaccines is strongly influenced by the strength of the
        body's immune system. Therefore, there are several things that can be
        tried to make the COVID-19 vaccine work:
      </p>

      <div class="flex flex-col gap-6">
        {
          items.map((item) => (
            <details class="bg-transparent rounded-md">
              <summary class="flex items-center gap-2 cursor-pointer select-none list-none">
                <img src={item.img} alt={item.title} class="w-6 rounded-md" />
                <span class="text-[#112778] font-bold tracking-wide">
                  {item.title}
                </span>
              </summary>
              <p class="text-gray-700 text-xs font-bold leading-snug mt-2 p-3 rounded-md shadow-[ -1px_9px_11px_-7px_rgba(0,0,0,0.72)]">
                {item.description}
              </p>
            </details>
          ))
        }
      </div>
    </div>
  </div>
</section>

<style>
  summary::-webkit-details-marker {
    display: none;
  }
  summary::after {
    content: "▼";
    margin-left: auto;
    color: #223ca6;
    background-color: #d4d0ff;
    padding: 2px 5px;
    font-size: 10px;
    border-radius: 5px;
  }
  details[open] summary::after {
    content: "▼";
  }
</style>
